@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Styles.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            background-color: rgb(204, 255, 204);
        }
    </style>
</head>
<body>
    <div class="section">
        <h1 class="left">Phone Book App</h1>
        <span class="right">
            Hello, @(this.Context.Session.GetString("loggedUser") != null
                                        ? this.Context.Session.GetString("loggedUserUsername")
                                        : "User")
        </span>
    </div>
    <div class="section">
        <ul class="menu">
            <li>
                <a href="/Home/Index">Home</a>
            </li>
            @if (this.Context.Session.GetString("loggedUser") != null)
            {
                <li>
                    <a href="/Users/Index">Users</a>
                </li>
                <li>
                    <a href="/Contacts/Index">Contacts</a>
                </li>
            }
            <li>
                @if (this.Context.Session.GetString("loggedUser") == null)
                {
                    <a href="/Home/Login">Login</a>
                }
                else
                {
                    <a href="/Home/Logout">Logout</a>
                }
            </li>
        </ul>
    </div>
    

    <div class="section">
        @RenderBody()
    </div>
    
</body>
</html>
