@model PhoneBook.ViewModels.Contacts.ContactsIndexVM
@using PhoneBook.Entity
@{
    ViewData["Title"] = "Contacts Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/Contacts/Create">New Contact</a>

<div class="grid">
    <div class="row">
        <div class="col-2">First Name</div>
        <div class="col-2">Last Name</div>
        <div class="col-2">Email</div>
    </div>
    @foreach (Contact item in Model.Items)
    {
        <div class="row">
            <div class="col-2">@item.FirstName</div>
            <div class="col-2">@item.LastName</div>
            <div class="col-2">@item.Email</div>
            <div class="col-2">
                <a href="/Contacts/Edit?id=@item.Id">edit</a>
                <a href="/Contacts/Share?id=@item.Id">share</a>
                <a href="/Contacts/Delete?id=@item.Id">delete</a>
            </div>
        </div>
    }
</div>

